APP_URL="http://localhost:3001"
APP_PORT=3001
DATABASE_URL="postgres://root:password@localhost:5433/mydatabase"
REDIS_HOST="localhost"
REDIS_PORT=6380
REDIS_PASSWORD=
JWT_SECRET="mobilidade-whatsapp"
JWT_EXPIRATION_TIME="7d"
SESSION_SECRET="secret"



